#container {
  width: 240px;
  height: 240px;
  margin: 240px auto;
}

@keyframes spincube {
  0% {
    transform: translateZ(120px);
  }

  20% {
    transform: rotateY(-90deg) translateZ(-30px);
  }

  40% {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(-30px);
  }

  60% {
    transform: rotateY(-180deg) rotateZ(90deg) translateZ(30px);
  }

  80% {
    transform: rotateX(-90deg) rotateY(-180deg) rotateZ(90deg) translateZ(-30px);
  }

  100% {
    transform: rotateX(-90deg) rotateY(-180deg) rotateZ(180deg) translateZ(-30px);
  }
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-duration: 13s;
  transform-style: preserve-3d;
  transform-origin: 240px 240px 0;
}

.cubespinner div {
  position: absolute;
  width: 240px;
  height: 240px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  line-height: 200px;
  text-align: center;
  font-size: 100px;
}

.stage {
  width: 240px;
  height: 240px;
}

.cubespinner .face1 {
  transform: translateZ(120px);
}

.cubespinner .face2 {
  transform: rotateY(90deg) translateZ(120px);
}

.cubespinner .face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(120px);
}

.cubespinner .face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(120px);
}

.cubespinner .face5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(120px);
}

.cubespinner .face6 {
  transform: rotateX(-90deg) translateZ(120px);
}