body {
  font-family: Calibri, Verdana, sans-serif;
  font-size: 20px;
  background-color: black;
}
#container {
  max-width: 100%;
  position: relative;
}
figure {
  position: absolute;
  transform: translate(50px, 50px);
  transition-delay: 1s;
}
figure img {
  border: 5px solid tomato;
  max-width: 100%;
  height: auto;
  opacity: 0.75;
}
figure:hover {
  z-index: 10;
  transform: matrix(1.2, 0, 0, 1.2, 50, 50);
  transition-delay: 3s;
}
figure:active {
  z-index: 10;
  transform: matrix(1.2, 0.2, 0.2, 1.2, 50, 50);
  transition-delay: 2s;
}
figure:hover img {
  animation: img-transparent 5s;
}
figure:active img {
  animation: border 1.5s forwards;
}
.grieks {
  top: 0;
  left: 0;
}
.wokken {
  top: 150px;
  left: 200px;
}
.pizza {
  top: 300px;
  left: 0;
}
.mexicaans {
  top: 450px;
  left: 200px;
}
.sushi {
  top: 600px;
  left: 0;
}
figure figcaption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 4px tomato;
}
@keyframes img-transparent {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes border {
  0% {
    border: 10px solid tomato;
  }
  100% {
    border: 10px solid plum;
  }
}
